* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: min(3vw, 20px);;
}

h1 {
  margin: 15px
}

a {
  color: #00B7FF;
}

.nav {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid lightgrey;
  padding: 5px;
}

td {
  margin: 5px 10px 5px 10px;
}

div {
  padding: 10px;
  margin: 10px;
}

ul {
  padding: 0px;
}

li {
  margin: 5px 10px
}

ul, li {
  list-style: none;
  display: inline-block;
}

.form {
  margin: 10px;
  background-color: lightcyan;
  padding: 10px;
}

input, textarea {
  border-radius: 4px;
  border: none;
  height: 22px;
  width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: lightslategrey;
  padding: 10px;
  color: white
}

.delete {
  background-color: red;
}

label {
  display: block;
  font-size: 18px;
}